<form method="POST">
    {% load widget_tweaks %}
    {% csrf_token %}
    <div class="form-group">
        {{form.bkash_number.label_tag}}
        {{ form.bkash_number| add_class:"form-control" }}
    </div>
    <div class="form-group">
        <label for="transaction_number">Transaction Number:</label>
        <input type="text" class="form-control" name="transaction_number" id="transaction_number_id">
    </div>
    <div class="row ">
    <input type="hidden" name="ok" id="ok_id" value="ok">
    <button  type="submit" class="btn btn-info btn-block" name="bill-form">Submit</button>
    </div>
</form>
<hr>