<div class="row">
    {% for product in products %}
   <div class="card home-card">
        {% if product.image1.url %}
       <a href="{{ product.image1.url }}"><img src="{{ product.image1.url }}" alt="" class="card-img-top" height="263px;"></a>
       {% else %}
       <a href="#"><img src="#" alt="" class="card-img-top" height="263px;"></a>
       {% endif %}
       <div class="card-body">
           <!-- <p class="card-title">{{ product.title | truncatechars:20 }}</p>
           <p class="card-text">{{ product.product_description| truncatechars:50 }}</p>
           <a href="{% url 'products:individual_product_detail' product.id %}" class="btn btn-info">View Details</a> -->
           <div class="row">
            <div class="col-sm-8 text-left"><p class="small">{{ product.title | truncatechars:22 | title }}</p></div>
            <div class="col-sm-4 text-right"><p class="small">&#x9f3;{{ product.price | truncatechars:8 }}</p></div>
           </div>
           <div class="row">
               <div class="col-sm-6">
                    {% if product.in_stock > 0 %}
                    <form class='form-product-ajax' method='POST' action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}' class="form"> {% csrf_token %}
                    <input type='hidden' name='product_id' value='{{ product.id }}' />
                    <span class='submit-span button-in-list-view'>
                    {% if product in cart.products.all %}
                    <button type="submit"> <p class="small" style="color: red"><i class="fas fa-cart-arrow-down"></i> Remove </p></button>
                    {% else %}
                    <button type="submit" {% if not request.user.is_authenticated %}disabled{% endif %}><p class="small" style="color: green"><i class="fas fa-cart-plus text-left"></i> Add to cart </p></button>
                    {% endif%}
                    </span>
                    </form> 
                    {% else %}
                    <span class='submit-span button-in-list-view'>
                    <button type="submit" disabled><p class="small" style="color: red">Out of Stock </p></button>
                    </span>
                    {% endif %}
                </div>

            <div class="col-sm-2">
                <form class='wish-form-product-ajax' method='POST' action='{% url "wish:update" %}' data-endpoint='{% url "wish:update" %}' class="form">
                    {% csrf_token %}
                    <input type='hidden' name='wish_product_id' value='{{ product.id }}' />
                    <span class='change-div wish-list-in-home'>
                    {% if product in wish %}
                    <button type="submit"><p class="small"><i class="fas fa-heart" style="color: red;"></i> </button>
                    {% else %}
                    <button type="submit" {% if not request.user.is_authenticated %}disabled{% endif %}><p class="small"><i class="far fa-heart" style="color: red;"></i> </p></button>
                    {% endif %}
                </span>
            </form>
            </div>
            <div class="col-sm-4"> <p class="small"><a href="{% url 'products:individual_product_detail' product.id %}" class="small">View Details</a></p></div>
           </div>
       </div>
   </div>
   {% endfor %}
</div>

<div class="row">
<a href="{{ location }}" class="see-more">see more...</a>
</div>