/* this is products view cards */
.home-card{
    width: 274px;
    height: 212px;
    float: left;
    margin: 5px;

}

.card-img-top {
    width: 100%;
    height: 127px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}


/* This is slider section */
.bg-light {
    background-color: #F2F2CC!important;
}
.see-more{
    float: right;
}
.jumbotron {
    background-color: #ffffff;
}

.button-in-list-view button{
    height:26px ;
    /* width: 97px; */
}

.wish-list-in-home button{
    height: 26px;
}




/* this is all rigtshs section */

