.register-form{
    width: 500px;
    border: 1px solid #CED4DA;
    margin-top: 10px;
}

.register-form button{
    margin-top: 10px; 
}

.verification-div{
    width: 500px;
    margin-top: 10px;  
}
.verification-div .btn{
    margin-bottom: 10px;
}
